header{
  background-color:#4267b2;
  color: #fff;
}
#bloger{
  background-color:#e9ebee;
}
.container-fluid h1{
  margin-left: 81px;
}
body {
  background-color:#e9ebee;
}
.index{
  background-color:#e9ebee;
}
.index h4{
  background-color:#f9f2f4;
  text-align: center;
}

.index a{
  text-align: center;
}

.posts li{
  margin-top: 15px;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.button {
  margin-right: 10px;
}

.post-show > div {
  margin: 80px;
}
