/* header
*/
header{
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#4267b2;
  color: #fff;
}

.fill {
    min-height: 100%;
    height: 100%;
}

#bloger{
  min-height: 100%;
  padding-top: 50px;
  height: 100%;
  background-color:#e9ebee;
}

.container-fluid h1{
  margin-left: 81px;
}
body .post-show {
  background-color:#e9ebee;
}



.index{
  background-color:#e9ebee;
}
.index h4{
  padding-left: 10px;
}

.index a{
  text-align: center;
}

.posts li{
  margin-top: 15px;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
/*.button {
  margin-right: 10px;
}*/

.post-show > div {
  margin: 80px;
}

.btn {
  margin: 5px;
  border-radius:20%;
}
